<!DOCTYPE html>
{% extends 'temp/user.html' %}
{% block base %}
<html>
<head>
	<title></title>
</head>
<body>
<table border="1" width="70%">
	<tr class="btn-primary" height="50px">
		<th>Service name</th>
		<th>Description</th>
{#        <th>status</th>#}
	</tr>
    {% for i in k %}
	<tr>
		<td>{{ i.service_name }}</td>
		<td>{{ i.description }}</td>
{#        <td>{{ i.status }}</td>#}
{#    <td><a href="{% url 'aprv' idd=i.service_id %}">approve</a> </td>#}
{#    <td><a href="{% url 'rej' idd=i.service_id %}">reject</a> </td>#}
	</tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}